# Export iHMP datasets
> Just take the get_diffs function and output to directory

In [1]:
%load_ext autoreload
%autoreload 2

from src.ihmp import get_diffs

In [60]:
# for name in ["ibd", "moms", "t2d"]:
for name in ["t2d"]:
    data, metadata = get_diffs(
        name,
        top_n=None,
        get_abundances=True,
        include_metadata=True,
        log=False,
        normalize=True,
    )
    data = data.drop_duplicates()
    metadata = metadata.set_index(
        ["sample_body_site", "subject_id", "visit_number", "sample_id"]
    ).drop_duplicates()
    metadata.index.names = ["site", "patient", "visit", "sample"]
    data.to_csv(f"ihmp/{name}_data.csv.gz", compression="gzip")
    metadata.to_csv(f"ihmp/{name}_metadata.csv")

In [59]:
# Check that data and metadata mathc on [site, patient, visit] only:

data_idx = data.index
metadata_idx = metadata.index

# Drop sample ID from both
data_idx = data_idx.droplevel("sample")
metadata_idx = metadata_idx.droplevel("sample")

print(set(data_idx) - set(metadata_idx))
print(set(metadata_idx) - set(data_idx))
print(set(data_idx) == set(metadata_idx))

set()
set()
True

In [63]:
t2d_metadata = pd.read_csv("/home/phil/phylosig/ihmp/t2d_metadata_ihmp.csv", index_col=0)
t2d_metadata.index

Index(['ZN9YTFN-01', 'ZN9YTFN-01', 'ZN9YTFN-1011', 'ZN9YTFN-1011',
       'ZN9YTFN-1012', 'ZN9YTFN-1012', 'ZN9YTFN-1013', 'ZN9YTFN-1013',
       'ZN9YTFN-1014', 'ZN9YTFN-1014',
       ...
       'ZL63I8R-1014', 'ZL63I8R-1014', 'ZL63I8R-1014', 'ZLYEM2C-07',
       'ZKFV71L-2013', 'ZKFV71L-2013', 'ZKFV71L-2013', 'ZN9YTFN-08',
       'ZJXC41N-02', 'ZLTUJTN-05'],
      dtype='object', name='VisitID', length=1528)

In [64]:
metadata

                                                                                 subject_uuid  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd  88af6472fb03642dd5eaf8cddc34ae9e
                           932d8fbc70ae8f856028b3f67c669dfd  88af6472fb03642dd5eaf8cddc34ae9e
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a  88af6472fb03642dd5eaf8cddc34ae9e
                     9     932d8fbc70ae8f856028b3f67c66824d  88af6472fb03642dd5eaf8cddc34ae9e
                     7     d57eb430d669de8329be1769d4f9dec4  88af6472fb03642dd5eaf8cddc34ae9e
...                                                                                       ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  88af6472fb03642dd5eaf8cddc345ca3
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac  88af6472fb03642dd5eaf8cddc379db4
                           634416dfd8b630dcc6bba6aec4a336ac  88af6472fb03642dd5eaf8cddc379db4
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e  88af6472fb03642dd5eaf8cddc34afd9
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  634416dfd8b630dcc6bba6aec4af9ae8

                                                            subject_gender  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd           male
                           932d8fbc70ae8f856028b3f67c669dfd           male
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a           male
                     9     932d8fbc70ae8f856028b3f67c66824d           male
                     7     d57eb430d669de8329be1769d4f9dec4           male
...                                                                    ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e        unknown
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac         female
                           634416dfd8b630dcc6bba6aec4a336ac         female
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e           male
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc        unknown

                                                             subject_race  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd     caucasian
                           932d8fbc70ae8f856028b3f67c669dfd     caucasian
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a     caucasian
                     9     932d8fbc70ae8f856028b3f67c66824d     caucasian
                     7     d57eb430d669de8329be1769d4f9dec4     caucasian
...                                                                   ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  ethnic_other
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac         asian
                           634416dfd8b630dcc6bba6aec4a336ac         asian
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e     caucasian
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  ethnic_other

                                                            study_full_name  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd     prediabetes
                           932d8fbc70ae8f856028b3f67c669dfd     prediabetes
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a     prediabetes
                     9     932d8fbc70ae8f856028b3f67c66824d     prediabetes
                     7     d57eb430d669de8329be1769d4f9dec4     prediabetes
...                                                                     ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e     prediabetes
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac     prediabetes
                           634416dfd8b630dcc6bba6aec4a336ac     prediabetes
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e     prediabetes
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc     prediabetes

                                                                                     project_name  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd  Integrative Human Microbiome Project
                           932d8fbc70ae8f856028b3f67c669dfd  Integrative Human Microbiome Project
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a  Integrative Human Microbiome Project
                     9     932d8fbc70ae8f856028b3f67c66824d  Integrative Human Microbiome Project
                     7     d57eb430d669de8329be1769d4f9dec4  Integrative Human Microbiome Project
...                                                                                           ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  Integrative Human Microbiome Project
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac  Integrative Human Microbiome Project
                           634416dfd8b630dcc6bba6aec4a336ac  Integrative Human Microbiome Project
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e  Integrative Human Microbiome Project
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  Integrative Human Microbiome Project

                                                                                                        sample
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd  HMP2_J43833_1_NS_T0_B0_0120_ZVBQY1N-1024_ANAV8...
                           932d8fbc70ae8f856028b3f67c669dfd  HMP2_J29034_1_NS_T0_B0_0120_ZVBQY1N-1024_AN77Y...
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a  HMP2_J43836_1_ST_T0_B0_0120_ZVBQY1N-6012_ANBEN...
                     9     932d8fbc70ae8f856028b3f67c66824d  HMP2_J43831_1_ST_T0_B0_0120_ZVBQY1N-1022_ANBEN...
                     7     d57eb430d669de8329be1769d4f9dec4  HMP2_J45529_1_ST_T0_B0_0120_ZVBQY1N-04_APA62.biom
...                                                                                                        ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  HMP2_J35346_1_NS_T0_B0_0120_ZXSDNAK-01_APHU6.biom
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac  HMP2_J00849_1_NS_T0_B0_0120_ZLGD9M0-1014_AAH7B...
                           634416dfd8b630dcc6bba6aec4a336ac                                     otu_table.biom
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e  HMP2_J34963_1_NS_T0_B0_0120_ZV1ZA6Z-05_ANAV8.biom
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  HMP2_J34982_1_NS_T0_B0_0120_ZIWTAHN-01_ANAV8.biom

[2226 rows x 6 columns]

# Get rich IBD metadata

In [3]:
ibd_data, ibd_metadata = get_diffs(
    "ibd", top_n=None, get_abundances=True, include_metadata=True
)

In [4]:
import pandas as pd

# metadata2 = pd.read_table("/home/phil/DATA/ihmp/IBD/hmp2_ibd_metadata.csv")

# Read table ignoring trailing whitespace
ibd_metadata2 = pd.read_csv("/home/phil/DATA/ihmp/IBD/hmp2_ibd_metadata.csv")

# Strip whitespace from column names
ibd_metadata2.columns = ibd_metadata2.columns.str.strip()

# Values
for col in ibd_metadata2.columns:
    if ibd_metadata2[col].dtype == "object":
        ibd_metadata2[col] = ibd_metadata2[col].str.strip()

ibd_metadata2

/home/phil/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3398: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Project,External ID,Participant ID,site_sub_coll,data_type,week_num,date_of_receipt,interval_days,visit_num,Research Project,...,FecalCal received at MGH:,Proteomics received at LBNL:,Stool Sample ID: Tube A (EtOH),Sample ID: Tube B (No preservative),Tube A and B received at Broad:,stool_id,smoking status,Number years smoked,Age when started smoking,How many cigarettes/cigars/etc. do you smoke per day?
0,C3001CSC1_BP,206615,C3001,C3001CSC1,biopsy_16S,2.0,,,1,ibdmdb,...,No,No,,,No,,,,,NaN
1,C3001CSC2_BP,206614,C3001,C3001CSC2,biopsy_16S,2.0,,,1,ibdmdb,...,No,No,,,No,,,,,NaN
2,C3002CSC1_BP,206617,C3002,C3002CSC1,biopsy_16S,0.0,,,1,ibdmdb,...,No,No,,,No,,,,,NaN
3,C3002CSC2_BP,206619,C3002,C3002CSC2,biopsy_16S,0.0,,,1,ibdmdb,...,No,No,,,No,,,,,NaN
4,C3002CSC3_BP,206616,C3002,C3002CSC3,biopsy_16S,0.0,,,1,ibdmdb,...,No,No,,,No,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,P6038C7_MVX,PSMA2675,P6038,P6038C7,viromics,NaN,2016-02-17,14.0,11,ibdmdb,...,No,No,SM-A2675,SM-A2676,No,,,,,NaN
5529,P6038C8_MVX,PSMA269S,P6038,P6038C8,viromics,NaN,2016-03-01,13.0,12,ibdmdb,...,No,No,SM-A269S,SM-A269T,No,,,,,NaN
5530,P6038C10_MVX,PSMA269W,P6038,P6038C10,viromics,NaN,2016-04-01,11.0,14,ibdmdb,...,No,No,SM-A269W,SM-A269X,No,,,,,NaN
5531,P6038C13_MVX,PSMA26A3,P6038,P6038C13,viromics,NaN,2016-05-12,14.0,18,ibdmdb,...,No,No,SM-A26A3,SM-A26A4,No,,,,,NaN
5532,P6038C19_MVX,PSMB4MC5,P6038,P6038C19,viromics,NaN,2016-08-03,14.0,25,ibdmdb,...,No,No,SM-B4MC5,SM-B4MC6,No,,,,,NaN

In [5]:
ibd_merged = pd.merge(
    ibd_data.reset_index().set_index(["site", "patient", "visit"]),
    metadata2[metadata2["data_type"] == "stool_16S"],
    left_on="sample",
    right_on="External ID",
    how="inner",
)
ibd_merged = ibd_merged.set_index("sample")

ibd_merged

NameError: name 'metadata2' is not defined

In [ ]:
ibd_otus = ibd_merged.iloc[:, :1370]
ibd_otus

ibd_metadata = ibd_merged.iloc[:, 1370:]

# ibd_otus
# ibd_metadata

ibd_otus.to_csv("ihmp/ibd_data.csv.gz", compression="gzip")
ibd_metadata.to_csv("ihmp/ibd_metadata.csv.gz", compression="gzip")

# Get rich T2D metadata

In [ ]:
t2d_data, t2d_metadata = get_diffs(
    "t2d", top_n=None, get_abundances=True, include_metadata=True
)

In [ ]:
t2d_subject_metadata = pd.read_table(
    "/home/phil/DATA/ihmp/T2D/t2d_subject_metadata.tsv"
)

# Strip whitespace from column names
t2d_subject_metadata.columns = t2d_subject_metadata.columns.str.strip()

# Strip whitespace from values
for col in t2d_subject_metadata.columns:
    if t2d_subject_metadata[col].dtype == "object":
        t2d_subject_metadata[col] = t2d_subject_metadata[col].str.strip()

t2d_metadata_with_subjects = pd.merge(
    t2d_metadata,
    t2d_subject_metadata,
    left_on="subject_id",
    right_on="SubjectID",
)

t2d_metadata_with_subjects.to_csv(
    "ihmp/t2d_metadata.csv.gz", compression="gzip"
)

In [ ]:
from tqdm import tqdm

# Make df with VisitID column for merge
t2d_data2 = t2d_data.reset_index().set_index(["site", "patient", "visit"])


def get_visit_id(x):
    try:
        visit_id = x.split("_")[7]
    except IndexError:
        visit_id = None
    return visit_id


t2d_data2["VisitID"] = t2d_data2["sample"].apply(get_visit_id)
t2d_data2.drop("sample", axis=1, inplace=True)
t2d_data2 = t2d_data2.drop_duplicates()

# Merge
t2d_merged = pd.merge(t2d_data2, t2d_metadata2, on="VisitID")
t2d_merged = t2d_merged.set_index("VisitID")

# Split into OTU and metadata
t2d_otus = t2d_merged.iloc[:, : t2d_data2.shape[1] - 1]
t2d_metadata = t2d_merged.iloc[:, t2d_data2.shape[1] - 1 :]

# Export
t2d_otus.to_csv("ihmp/t2d_data.csv.gz", compression="gzip")
t2d_metadata.to_csv("ihmp/t2d_metadata.csv.gz", compression="gzip")

In [7]:
t2d_otus

NameError: name 't2d_otus' is not defined

# Export clustered OTU tables

In [7]:
# from src.greengenes import (
#     parse_similarity_map, merge_otu_table, combine_similarity_maps
# )
# from src.ihmp import get_diffs

# ! mkdir -p ihmp/clustered/ibd
# ! mkdir -p ihmp/clustered/t2d
# ! mkdir -p ihmp/clustered/moms

# for name in ["ibd", "t2d", "moms"]:
#     data = get_diffs(name, get_abundances=True, log=False)
#     data.to_csv(f"ihmp/clustered/{name}/otus_99.csv")

#     similarity_map99 = parse_similarity_map(99)
#     similarity_map = similarity_map99

#     for x in [99]:# 97, 94, 91, 88, 85, 82, 79, 76, 73, 70, 67, 64, 61]:
#         similarity_map = combine_similarity_maps(
#             [similarity_map, parse_similarity_map(x)]
#         )
#         clustered = merge_otu_table(data, similarity_map)
#         s = clustered.sum(axis=1)
#         print(f"{x} {clustered.shape} {s.min():.3f} {s.mean():.3f} {s.max():.3f}")

#         clustered.to_csv(f"ihmp/clustered/{name}/otus_{x}.csv")

KeyboardInterrupt:

# Final attempt to make sense of iHMP metadata

In [67]:
t2d_subject = pd.read_table("ihmp/metadata/t2d_subject.tsv")
t2d_visit = pd.read_table("ihmp/metadata/t2d_visit.tsv")

print(len(t2d_subject), "subjects")
print(len(t2d_visit), "visits")

107 subjects
1416 visits

In [74]:
# Site is 'nasal cavity' or 'feces' - first level of multiindex

t2d_ihmp_metadata = metadata
# Rename 'sample' column to 'filename'
t2d_ihmp_metadata = t2d_ihmp_metadata.rename(columns={"sample": "filename"})
t2d_ihmp_metadata = t2d_ihmp_metadata.reset_index()

t2d_ihmp_stool = t2d_ihmp_metadata[t2d_ihmp_metadata["site"] == "feces"]
t2d_ihmp_nasal = t2d_ihmp_metadata[t2d_ihmp_metadata["site"] == "nasal cavity"]

print(len(t2d_ihmp_stool), "stool samples")
print(len(t2d_ihmp_nasal), "nasal samples")

1057 stool samples
1169 nasal samples

In [94]:
# Great, now we need to recocile visit IDs with filenames

stool_ids = [(row["patient"], row["visit"]) for i, row in t2d_ihmp_stool.iterrows()]
nasal_ids = [(row["patient"], row["visit"]) for i, row in t2d_ihmp_nasal.iterrows()]

stool_ids = set(stool_ids)
nasal_ids = set(nasal_ids)

print(len(stool_ids), "stool IDs")
print(len(nasal_ids), "nasal IDs")
print(len(stool_ids.union(nasal_ids)), "total IDs")

884 stool IDs
828 nasal IDs
1037 total IDs

In [71]:
metadata

                                                                                 subject_uuid  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd  88af6472fb03642dd5eaf8cddc34ae9e
                           932d8fbc70ae8f856028b3f67c669dfd  88af6472fb03642dd5eaf8cddc34ae9e
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a  88af6472fb03642dd5eaf8cddc34ae9e
                     9     932d8fbc70ae8f856028b3f67c66824d  88af6472fb03642dd5eaf8cddc34ae9e
                     7     d57eb430d669de8329be1769d4f9dec4  88af6472fb03642dd5eaf8cddc34ae9e
...                                                                                       ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  88af6472fb03642dd5eaf8cddc345ca3
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac  88af6472fb03642dd5eaf8cddc379db4
                           634416dfd8b630dcc6bba6aec4a336ac  88af6472fb03642dd5eaf8cddc379db4
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e  88af6472fb03642dd5eaf8cddc34afd9
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  634416dfd8b630dcc6bba6aec4af9ae8

                                                            subject_gender  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd           male
                           932d8fbc70ae8f856028b3f67c669dfd           male
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a           male
                     9     932d8fbc70ae8f856028b3f67c66824d           male
                     7     d57eb430d669de8329be1769d4f9dec4           male
...                                                                    ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e        unknown
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac         female
                           634416dfd8b630dcc6bba6aec4a336ac         female
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e           male
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc        unknown

                                                             subject_race  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd     caucasian
                           932d8fbc70ae8f856028b3f67c669dfd     caucasian
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a     caucasian
                     9     932d8fbc70ae8f856028b3f67c66824d     caucasian
                     7     d57eb430d669de8329be1769d4f9dec4     caucasian
...                                                                   ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  ethnic_other
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac         asian
                           634416dfd8b630dcc6bba6aec4a336ac         asian
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e     caucasian
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  ethnic_other

                                                            study_full_name  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd     prediabetes
                           932d8fbc70ae8f856028b3f67c669dfd     prediabetes
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a     prediabetes
                     9     932d8fbc70ae8f856028b3f67c66824d     prediabetes
                     7     d57eb430d669de8329be1769d4f9dec4     prediabetes
...                                                                     ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e     prediabetes
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac     prediabetes
                           634416dfd8b630dcc6bba6aec4a336ac     prediabetes
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e     prediabetes
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc     prediabetes

                                                                                     project_name  \
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd  Integrative Human Microbiome Project
                           932d8fbc70ae8f856028b3f67c669dfd  Integrative Human Microbiome Project
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a  Integrative Human Microbiome Project
                     9     932d8fbc70ae8f856028b3f67c66824d  Integrative Human Microbiome Project
                     7     d57eb430d669de8329be1769d4f9dec4  Integrative Human Microbiome Project
...                                                                                           ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  Integrative Human Microbiome Project
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac  Integrative Human Microbiome Project
                           634416dfd8b630dcc6bba6aec4a336ac  Integrative Human Microbiome Project
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e  Integrative Human Microbiome Project
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  Integrative Human Microbiome Project

                                                                                                        sample
site         patient visit sample
nasal cavity ZVBQY1N 11    932d8fbc70ae8f856028b3f67c669dfd  HMP2_J43833_1_NS_T0_B0_0120_ZVBQY1N-1024_ANAV8...
                           932d8fbc70ae8f856028b3f67c669dfd  HMP2_J29034_1_NS_T0_B0_0120_ZVBQY1N-1024_AN77Y...
feces        ZVBQY1N 14    932d8fbc70ae8f856028b3f67c66f71a  HMP2_J43836_1_ST_T0_B0_0120_ZVBQY1N-6012_ANBEN...
                     9     932d8fbc70ae8f856028b3f67c66824d  HMP2_J43831_1_ST_T0_B0_0120_ZVBQY1N-1022_ANBEN...
                     7     d57eb430d669de8329be1769d4f9dec4  HMP2_J45529_1_ST_T0_B0_0120_ZVBQY1N-04_APA62.biom
...                                                                                                        ...
nasal cavity ZXSDNAK 1     d57eb430d669de8329be1769d4e8304e  HMP2_J35346_1_NS_T0_B0_0120_ZXSDNAK-01_APHU6.biom
feces        ZK112BX 2     634416dfd8b630dcc6bba6aec4a336ac  HMP2_J00849_1_NS_T0_B0_0120_ZLGD9M0-1014_AAH7B...
                           634416dfd8b630dcc6bba6aec4a336ac                                     otu_table.biom
nasal cavity ZV1ZA6Z 2     932d8fbc70ae8f856028b3f67c65d66e  HMP2_J34963_1_NS_T0_B0_0120_ZV1ZA6Z-05_ANAV8.biom
             ZIWTAHN 1     634416dfd8b630dcc6bba6aec4afecfc  HMP2_J34982_1_NS_T0_B0_0120_ZIWTAHN-01_ANAV8.biom

[2226 rows x 6 columns]

In [97]:
data.sum(axis=1)

site   patient  visit  sample
feces  ZN9YTFN  1      HMP2_J00825_1_ST_T0_B0_0120_ZN9YTFN-01_AA31J.biom      1.0
                2      HMP2_J00826_1_ST_T0_B0_0120_ZN9YTFN-1011_AA31J.biom    1.0
                3      HMP2_J00827_1_ST_T0_B0_0120_ZN9YTFN-1012_AA31J.biom    1.0
                4      HMP2_J00828_1_ST_T0_B0_0120_ZN9YTFN-1013_AA31J.biom    1.0
                5      HMP2_J00829_1_ST_T0_B0_0120_ZN9YTFN-1014_AA31J.biom    1.0
                                                                             ...
       ZLZNCLZ  12     HMP2_J83832_1_ST_T0_B0_0120_ZLZNCLZ-12_B86HB.biom      1.0
       ZYHHR4Z  8025   HMP2_J83833_1_ST_T0_B0_0120_ZYHHR4Z-8025_B86HB.biom    1.0
       ZVBQY1N  999    HMP2_J83836_1_ST_T0_B0_0120_ZVBQY1N-1012_B86HB.biom    1.0
       ZUF48YS  999    HMP2_J83837_1_ST_T0_B0_0120_ZUF48YS-05_B86HB.biom      1.0
       ZPEL6L3  1014   HMP2_J83838_1_ST_T0_B0_0120_ZPEL6L3-1014_B86HB.biom    1.0
Length: 2204, dtype: float64

In [98]:
t2d_visit

,VisitID,SubjectID,CollectionDate,Event,Event_Note1,Event_Note2,Event_Note3,SubStudy
0,ZIS22OE-02,ZIS22OE,132.0,Healthy,NaN,NaN,NaN,HMP
1,ZJBOZ2E11-E11,ZJBOZ2X,1481.0,Exercise,Baseline,NaN,NaN,Exercise
2,ZJBOZ2E12-E12,ZJBOZ2X,1481.0,Exercise,2 min,NaN,NaN,Exercise
3,ZJBOZ2E13-E13,ZJBOZ2X,1481.0,Exercise,15 min,NaN,NaN,Exercise
4,ZJBOZ2E14-E14,ZJBOZ2X,1481.0,Exercise,30 min,NaN,NaN,Exercise
...,...,...,...,...,...,...,...,...
1411,ZYXQKWY-05,ZYXQKWY,957.0,Healthy,NaN,NaN,NaN,HMP
1412,ZYXQKWY-06,ZYXQKWY,1062.0,Healthy,NaN,NaN,NaN,HMP
1413,ZYXQKWY-07,ZYXQKWY,1153.0,Healthy,NaN,NaN,NaN,HMP
1414,ZYXQKWY-08,ZYXQKWY,1271.0,Healthy,NaN,NaN,NaN,HMP
1415,ZYXQKWY-09,ZYXQKWY,1375.0,Healthy,NaN,NaN,NaN,HMP

In [99]:
t2d_subject

,SubjectID,Study,Race,Sex,Age,BMI,SSPG,IR_IS_classification
0,ZIS22OE,HMP,C,F,NaN,NaN,NaN,Unknown
1,ZJBOZ2X,Exercise,C,F,65.30,19.82,NaN,Unknown
2,ZJOSZHK,HMP,C,M,41.43,19.42,NaN,Unknown
3,ZJTKAE3,HMP,C,F,58.65,31.24,162.0,IR
4,ZJXC41N,"HMP, Exercise",B,F,49.69,28.24,75.0,IS
...,...,...,...,...,...,...,...,...
102,ZYHHR4Z,"HMP, Exercise",C,F,43.99,26.47,NaN,Unknown
103,ZYKZ9HQ,HMP,unknown,F,55.62,29.94,NaN,Unknown
104,ZYLJ7R7,HMP,A,F,40.97,23.45,NaN,Unknown
105,ZYU89T9,HMP,C,F,60.19,29.83,NaN,Unknown
106,ZYXQKWY,HMP,C,F,50.70,32.59,158.5,IR